@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Marck+Script&family=Neonderthaw&family=Satisfy&display=swap');
/* font-family: 'Dongle', sans-serif;
font-family: 'Marck Script', cursive;
font-family: 'Neonderthaw', cursive;
font-family: 'Satisfy', cursive; */
/* *{
    margin: 0;
    padding: 0;
} */

.container{
    background-color: orange;
    
}

.heads{
    display: flex;
    
}

.heading{
    margin-top: 0;
    position: absolute;
    left: 0;   
}
#heading{
    font-family: 'Satisfy', cursive;
    color: blue;
    font-size: 60px;
    margin-top: 0;
    word-wrap: break-word;
}

#subheading{
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    
}

.user{
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 20px;

}
.button{
    background-color: blue;
    color: white;
    font-size: 20px;
}

.centerclass{
    text-align: center;
    
}

.createbtn{
    background-color: green;
    color: white;
    align-content: center;
    margin: auto;
}

#largebtn{
    width: 400px;
    height: 40px;
}

#largebtn1{
    width: 400px;
    height: 40px;
}

.notamem{
    margin-top: 20px;
}

.post {
    position: relative;
    width: 45%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 40px;
    float:left;
    border-radius: 15px;
}
    
.user1 {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px; 
        overflow: hidden;     
}
.title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
 
.text-content{
    height: 100px;
    margin-bottom: 0 !important;
}

.allPosts {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 150px;
}

.trash
{
  position: absolute;
  right:15px;
  top:15px;
}

.trash img{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#fivth{
    left: 25%;
}

#burger{
    position:absolute;
    right:15px;
    bottom:15px;
}


#linkModal{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#yesnobtns{
    left: 30%;
    text-align: center;
}
#no
{
    font-family: 'Ubuntu Condensed';
    background-color: green;
    color: white;
    border-color: transparent;
    padding: 5px 10px;
    width: 150px;
    position: relative;
    left: 90px;
}

#deleteyesno{
    text-align: center;
    text-decoration: bold;
}

#yes
{
    background-color: red;
    color: white;
    border-color: transparent;
    padding: 5px 10px;
    width: 150px;
    position: absolute;
    left: 50px;
}