@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Marck+Script&family=Neonderthaw&family=Satisfy&display=swap');
/* font-family: 'Dongle', sans-serif;
font-family: 'Marck Script', cursive;
font-family: 'Neonderthaw', cursive;
font-family: 'Satisfy', cursive; */

.full{
    background-image: url('./images/background.jpg');
}
.head{
    display: flex;
    justify-content: space-around;
}

#heading{
    font-family: 'Satisfy', cursive;
    color: blue;
    font-size: 50px;
}

#subheading{
    font-family: 'Marck Script', cursive;
    
}

.user{
    margin-top: 20px;
}
.button{
    background-color: blue;
    color: white;
}