@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Marck+Script&family=Neonderthaw&family=Satisfy&display=swap');
/* font-family: 'Dongle', sans-serif;
font-family: 'Marck Script', cursive;
font-family: 'Neonderthaw', cursive;
font-family: 'Satisfy', cursive; */
/* *{
    margin: 0;
    padding: 0;
} */
.container{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center center;
    margin: 0;
    background-size: 100% ;
    /* overflow: hidden;
    display: block; */
    
 } 

.heads{
    display: flex;
    
}

.heading{
    margin-top: 0;
    position: absolute;
    left: 0;   
}
#heading{
    font-family: 'Satisfy', cursive;
    color: blue;
    font-size: 60px;
    margin-top: 0;
    word-wrap: break-word;
}

#subheading{
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    
}

.user{
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 20px;

}
.button{
    background-color: blue;
    color: white;
    font-size: 20px;
}

#post{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-100px;
}
.trigger{
    font-size: 20px;
    background-color: orange;
}

#titleText{
    height: 30px;
    width: 500px;
}

#contentText{
    height: 500px;
    width: 700px;
}

.centerclass{
    text-align: center;
    
}

.createbtn{
    background-color: green;
    color: white;
    align-content: center;
    margin: auto;
}

#largebtn{
    width: 400px;
    height: 40px;
}

#largebtn1{
    width: 400px;
    height: 40px;
}